<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="http://academics.utep.edu/Default.aspx?alias=academics.utep.edu/nssi"><h1>National Securities Studies Institute</h1></a>
            <p class="lead">Surveys</p>
            <ul class="list-unstyled">
                <li>Link to surveys will go here.</li>
                <li>Example</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
